.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #002F52, #326589);
}

.App-header {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opcoes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcao {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone {
  margin-right: 40px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

body {
  margin: 0;
}